body {
	font-family: "Segoe UI", "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.player-page {
	padding-bottom: 20px!important;
}

.jumbotron {
	background-color: #ff8c00;
	color: white;
	-webkit-font-smoothing: antialiased;
	text-shadow: 0 0.5px 0 rgba(0,0,0,0.7);
	padding-bottom: 20px!important;
}

.jumbotron .container {
	background-image: url("../img/media.png");
	background-position: 100% -10%;
	background-repeat: no-repeat;
	background-size: contain;
}

.jumbotron .container li {
	font-size: 18px;
}

.config-body {
	padding-bottom: 25px;
	padding-top: 25px;
}

@media (min-width: 768px) {
	.container .value-item {
		min-height: 205px;
	}
}
