<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".svg"/>
      <remove fileExtension=".eot"/>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-woff"/>
      <clientCache cacheControlMode="UseExpires" httpExpires="Tue, 19 Jan 2038 03:14:07 GMT"/>
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <location path="OnePlayer/oneplayer.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://aka.ms/azuremediaplayer$Q" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
</configuration>
