.amp-default-skin .vjs-loading-spinner {
    background: url(streamloading.png);
    width: 170px;
    height: 75px;
    animation: loading 1.5s steps(48) infinite;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

    .amp-default-skin .vjs-loading-spinner:before {
        content: none;
    }

@keyframes loading {
    100% {
        background-position: -8160px;
    }
}

.amp-default-skin .amp-logo {
    background-image: url(stream-icon-watermark.svg);
    /*background-repeat: no-repeat;*/
    width: 32px;
    height: 32px;
    /*right: 10px !important;*/
    top: auto !important;
    left: auto !important;
    /*opacity: 0.4 !important;*/
    /*cursor: pointer;*/
    margin-right: 12px;
    /*position: fixed;*/
    right: 0;
    bottom: 52px !important;
    z-index: 1;
    cursor: pointer;
    opacity: 0.5;
}



.amp-default-skin .amp-logo:hover {
     height: 34px;
     width: 34px;
}

.amp-default-skin .vjs-menu {
    z-index: 2;
}

.amp-default-skin.vjs-error .vjs-error-display::before {
    content: url(stream-icon-burgundy.svg);
    width: 170px;
    height: 75px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.amp-default-skin .vjs-play-progress {
    background-color: #c30052;
}

.amp-default-skin .vjs-volume-level {
    background: #c30052;
}
