.amp-default-skin .vjs-loading-spinner {
    background: url('streamloading.png');
    width: 170px;
    height: 75px;
    animation: loading 1.5s steps(48) infinite;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.amp-default-skin .vjs-loading-spinner:before {
        content: none;
}

@keyframes loading {
    100% {
        background-position: -8160px;
    }
}

.amp-default-skin .amp-logo{
    /*position: absolute;
    overflow: hidden;
    z-index: 5;*/
    background-image: url(stream-icon-white.svg);
    /*background-repeat: no-repeat;*/
    width: 40px;
    height: 40px;
    right: 10px !important;
    top: 10px !important;
    left: auto !important;
    opacity: 0.4 !important;
    cursor: pointer;
}

.amp-default-skin .vjs-menu{
     z-index: 10;
}

.amp-default-skin.vjs-error .vjs-error-display::before {
    content: url(stream-icon-green.svg);
    width: 170px;
    height: 75px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.amp-default-skin .vjs-play-progress {
    background-color: #7ed127;
}

.amp-default-skin .vjs-volume-level {
    background: #7ed127;
}


